<div class="container">
  <!-- Example row of columns -->
  <% for i in 0..@questions.length do %>
    <div class="row">
    <% for j in i..(i+2) do %>
      <% break if j >= @questions.length %>
      <div class="col-md-4">
        <h2><%= @questions[j].title %></h2>
        <%= link_to @questions[j].content, question_path(@questions[j]) %>
        <br>
        <a class="" href="#" role="button"><i class="fa fa-chevron-up"></i></a> <%= @questions[j].vote_count %> <a class="" href="#" role="button"><i class="fa fa-chevron-down"></i></a>
      </div>
    <% end %>
    <% i = j + 1 %>
    </div>
    <% break if i >= @questions.length %>
  <% end %>


  <hr>

  <%= link_to 'new question', new_question_path %>
  
</div> <!-- /container -->




