<h1>Acomment#new</h1>

<h1>create an new acomment!</h1>
<ul>
  <%= form_for @acomment do |f| %>
    <li>
      <%= f.label :content %>
      <%= f.text_field :content %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  <% end %>
</ul>
