<h1>Qcomments#edit</h1>

<h1>Edit  qcomment</h1>
<ul>
  <%= form_for @qcomment do |f| %>
    <li>
      <%= f.label :content %>
      <%= f.text_field :content %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  <% end %>
</ul>