<h1>Answer <%= @answer.id %></h1>
<%= @answer.content %>

<h4>Comments:</h4>
    <ol>
    <% @answer.comments.each do |comment| %>
      <li><%= link_to comment.content, comment_path(comment) %></li>
    <% end %>
    </ol>
  <h4><%= link_to 'add comment to answer', new_comment_path(answer_id: @answer.id ) %></h4>